* {
    margin: 0px;
    font-family: 'poppins', sans-serif;
    padding: 0px;
}


.orders {
    background: linear-gradient(#ff6e97, #ff6358,#ff296d);
    padding: 8px 0px;
}

.img2 {
    background: linear-gradient(#ff86a8, #ff8077,#ff6193);
    padding: 8px 2px;
}
iframe{
    box-shadow: 0 0 20px #ff0055;
    border-radius: 6px;
    border-color: #ff0077;
    border-style: ridge;
    padding: 0px;
    margin: 0px;
}



.img2 img{
    box-shadow: 0 0 30px #ff0000;
    border-radius: 6px;
    border-color: #ff0077;
    border-style: ridge;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

.og img {
    width: 80px;
    margin: 0px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 30px #fb8d52;
    background: linear-gradient(#ff84a7,#ff8d8d, #ff746b);
}

.info {
    margin: 6px;
}

.info2 {
    margin: 6px;
}


.info3 {
    margin: 6px;
}

.info a {
    background: linear-gradient(to right, #ac52fb, #6f27ff);
    text-decoration: none;
    padding: 6px 6px;
    color: #ffffff;
    box-shadow: 0 0 20px #3300ff;
    text-shadow: 0 0 2px #ffffff;
    font-size: 20px;
    border-radius: 16px;
}

.info8 a {
    background: linear-gradient(to right, #ac52fb, #6f27ff);
    text-decoration: none;
    padding: 2px 5px;
    color: #ffffff;
    box-shadow: 0 0 10px #8400ff;
    text-shadow: 0 0 2px #ffffff;
    font-size: 17px;
    border-radius: 14px;
    margin-left: 4px;
}
.infoone {
    display: flex;
}

.info2 a {
    background: linear-gradient(to right, #fb5283, #ff3527);
    text-decoration: none;
    padding: 6px 6px;
    color: #ffffff;
    box-shadow: 0 0 20px #ff006f;
    text-shadow: 0 0 2px #ffffff;
    font-size: 20px;
    border-radius: 16px;
}

.info9 a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
    font-size: 20px;
}

.info3 a {
    background: linear-gradient(to right, #fb7452, #ff3907);
    text-decoration: none;
    padding: 6px 6px;
    color: #ffffff;
    box-shadow: 0 0 20px #ff5e00;
    text-shadow: 0 0 2px #ffffff;
    font-size: 20px;
    border-radius: 16px;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    margin: 0px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-family: 'poppins', sans-serif;
    text-shadow: 0 0 2px #ffffff;
}

nav ul li a:hover {
    color: rgb(255, 0, 81);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.col-1 h2 {
    font-size: 50px;
    color: #f4004d;
    text-shadow: 0 0 2px #f60420;
    font-family: 'Poppins', sans-serif;
}

.col-1 p {
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 100;
}


p2 {
    font-size: 14px;
    color: #ffffff;
}


p4 {
    background: linear-gradient(to right, #ff1e4f, #ff0000);
    text-decoration: none;
    padding: 2px 4px;
    color: #ffffff;
    box-shadow: 0 0 8px #cc0000;
    text-shadow: 0 0 2px #ffffff;
    font-size: 17px;
    border-radius: 12px;
    margin-left: 6px;
    letter-spacing: 2px;
}

p7 {
    background: linear-gradient(to right, #ff9100, #fc4300);
    text-decoration: none;
    padding: 2px 6px;
    color: #ffffff;
    box-shadow: 0 0 8px #ff6600;
    text-shadow: 0 0 2px #ffffff;
    font-size: 16px;
    border-radius: 12px;
    margin-left: 3px;
}
p3 {
    font-size: 16px;
    color: #ffffff;
    margin: 3px;
    text-shadow: 0 0 2px #ffffff;
}

p5 {
    font-size: 18px;
    color: #ffbb00;
    margin: 3px;
    text-shadow: 0 0 2px #ffa600;
}

p8{
    background: linear-gradient(to right, #fb5283, #ff3527);
    padding: 6px 6px;
    color: #ffffff;
    box-shadow: 0 0 20px #ff006f;
    text-shadow: 0 0 2px #ff0385;
    font-size: 17px;
    margin: 0px;
}

h3 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    text-shadow: 0 0 2px #ffffff;
}

h4 {
    font-size: 25px;
    color: #ffbb00;
    font-family: 'poppins', sans-serif;
    text-shadow: 0 0 2px #ffaa00;
}

.img {
    margin: 0px;
    padding: 0px;
}

.txt {
    background: #090909c4;
}

.head {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(208, 208, 208);
    position: fixed;
}


html {
    scroll-behavior: smooth;
}


.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.4s;
}

button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(228, 0, 46);
    transition: width 0.5s;
}

button img {
    width: 30px;
    display: none;
}

button:hover img {
    display: block;
}


button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 100%;
    position: absolute;
    background: linear-gradient(#ff469f, #ff6062);
    left: -40px;
    top: 8px;
}

.col-2 {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    position: relative;
}

.col-2 .controller {
    width: 90%;
}

#menulist {
    overflow: hidden;
    transition: 0.5s;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    background: linear-gradient(#ff256e, #ff1d21);
    transform: translateX(150px);
}
/* 
@media only screen and (max-width:700px) {
    nav ul {
        width: 100%;
        top: 75px;
        right: 0;
        z-index: 2;
        background: linear-gradient(#ff2d7a, #ff006f);
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li {
        color: #fff;
    }
} */
@media screen and (max-width:650px){
    iframe{
        box-shadow: 0 0 20px #ff0055;
        border-radius: 6px;
        border-color: #ff0077;
        border-style: ridge;
        padding: 0px;
        width:420;
        height:210;
        margin: 0px;
    }
    
.img2 img{
    box-shadow: 0 0 30px #ff0000;
    border-radius: 6px;
    border-color: #ff0077;
    border-style: ridge;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 460;
    height: 230;
}

.img img{
    margin: 0px;
    padding: 0px;
    width: 460;
    height: 130;
}


}