.hed {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #ff0084, #954aff, #0099ff, #00fffb);
}
.firstyt{
    text-align: center;
}
.firstyt img{
    text-align: center;
}
.background {
    border-radius: 35px;
    padding: 2px;
    background: linear-gradient(to right, #ff0084, #954aff, #0099ff, #00fffb);
    background-origin: border-box;
}

body {
    margin: 0px;
}

.margin {
    margin: 4px;
}

.hed img {
    background-color: whitesmoke;
    border-radius: 50%;
    margin: 0px;
    padding: 0;
    box-shadow: 0 0 0px #101010;
}

.hed a {
    text-decoration: none;
}

.hed p {
    background: linear-gradient(to right, #242424e2, #161616d1);
    text-decoration: none;
    padding: 0px;
    color: #ffffff;
    font-size: 14px;
    box-shadow: 0 0 0px #1d1d1d;
    border-radius: 0px;
    letter-spacing: 0px;
}

.txt555 p2 {
    font-size: 20px;
    color: #151515;
    text-shadow: 0 0 1px #161616;
    font-family: 'poppins', sans-serif;

}

.logo111 {
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}

.logo111 p {
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}

.logo111 .fas {
    font-size: 50px;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #ffffff, #ffffff);
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    margin-bottom: 20px;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

.product-title {
    font-size: 24px;
    margin-top: 0;
}

.product-description {
    font-size: 16px;
    margin-top: 0;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.hr {
    margin-left: 28px;
    margin-right: 28px;
}

.add-to-cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #0062cc;
}

.navbar {
    border-radius: 34px;
    width: 100%;
    display: flex;
    padding: 2px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.new {
    box-shadow: 0 0 10px #000000;
    background-color: rgb(23, 23, 23);
    text-align: center;
}

.new p18 {
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
}

footer h3 {
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

footer p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-links {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links li {
    margin: 0 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-social {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-social li {
    margin: 0 20px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
}

.footer-social a:hover {
    transform: scale(1.2);
}







.slider {
    overflow: hidden;
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider img.active {
    opacity: 1;
}



* {
    margin: 0px;
    padding: 0px;
}

.orders h3 {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 1px #000000;
    font-size: 14px;
}

.orders h1 {
    text-decoration: none;
    color: #ff0066;
    text-shadow: 0 0 1px #ff0040;
    font-size: 18px;
}


.orders p {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 1px #000000;
    font-size: 14px;
}
.cot33{
    text-align: center;
}
.cot33 img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.contain33 {
    display: flex;
    margin: 0px;
    max-width: 400px;
    width: 100%;
    background: #00000000;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    text-align: center;
    scroll-padding: 30px;
}

.card {
    display: flex;
    flex: 0 0 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
}

.card .image33 {
    height: 150px;
    text-align: center;
    width: 150px;
    background: #000000;
    border-radius: 50%;
}

.cot3333 img {
    height: 100%;
    text-align: center;
    width: 100%;
    padding: 4px 4px;
    object-fit: cover;
    border-radius: 50%;
  border: 4px solid rgb(255, 0, 81);
}

.card h2 {
    margin-top: 25px;
    color: #df0034f9;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.card p {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #111111;
    text-align: center;
    text-align: center;
}

.iframe-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.iframe-c2 {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.tml {
    background: linear-gradient(to right, #1b1b1b, #121212);
    border-radius: 14px;
    margin: 8px;
}

.tml p2 {
    padding: 8px 8px;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    color: #dedede;
    margin: 2px;
    text-shadow: 0 0 1px #ffffff;
}

.tml p {
    padding: 8px 8px;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    color: #cecece;
    text-align: center;
    text-shadow: 0 0 1px #cbcbcb;
}

.vidborder {
    background: linear-gradient(to right, #ff0084, #954aff, #0099ff, #00fffb);
    background-origin: border-box;
    padding: 1px;
}

.iframe-container img {
    top: 0;
    border-radius: 14px;
    left: 0;
    width: 95%;
    height: 95%;
    align-items: center;
    text-align: center;
}

.iframe-c2 img {
    top: 0;
    border-radius: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.iframe-container {
    text-align: center;
}

.iframe-container iframe {
    top: 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    border-radius: 14px;
    left: 0;
    text-align: center;
}

.vid img {
    border-radius: 50%;
    text-align: left;
    margin: 2px;
    border-color: #000000;
    border: 2px;
}

.orders {
    padding: 8px 0px;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.img2 img {
    padding: 2px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 14px;
    background: linear-gradient(to right, #ff0084, #954aff, #0099ff, #00fffb);
    background-origin: border-box;
}

.heading {
    text-align: center;
}

.heading p {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.heading p2 {
    color: rgb(255, 213, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.heading p3 {
    letter-spacing: 2px;
    color: rgb(255, 213, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}


.heading p44{
    letter-spacing: 2px;
    color: rgb(255, 85, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.img2 iframe {
    padding: 2px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 14px;
    background: linear-gradient(to right, #ff0084, #954aff, #0099ff, #00fffb);
    background-origin: border-box;
}
.cot333{
text-align: center;
}
.cot333{
    height: 150px;
    text-align: center;
    width: 150px;
    background: #000000;
    border-radius: 50%;
}
body {
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: #12001d; */
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 0%;
    padding-right: 0%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* 
nav {
    flex: 1;
    text-align: right;
} */
.og img {
    width: 50px;
    margin: 2px;
}

.info {
    margin: 6px;
}

.info2 {
    margin: 6px;
}


.info3 {
    margin: 6px;
}

.info12 img {
    border-radius: 50%;
    box-shadow: 0 0 20px #00ff91;
    margin: 8px;
}

.info img {
    background: linear-gradient(to right, #ac52fb, #6f27ff);
    text-decoration: none;
    padding: 6px 6px;
    box-shadow: 0 0 20px #3300ff;
    text-shadow: 0 0 2px #ffffff;
    border-radius: 10px;
}

.info8 a {
    background: linear-gradient(to right, #ac52fb, #6f27ff);
    text-decoration: none;
    padding: 2px 5px;
    color: #ffffff;
    box-shadow: 0 0 10px #8400ff;
    text-shadow: 0 0 2px #ffffff;
    font-size: 17px;
    border-radius: 14px;
    margin-left: 4px;
}

.infoone {
    display: table;
    text-align: center;
    align-items: center;
}

.info2 p {
    text-decoration: none;
    padding: 2px 3px;
    color: #ffffff;
    text-align: center;
}

.highlighttext {
    background: linear-gradient(to right, #1b003a, #190034, #18002e);
    border-radius: 14px;
    padding: 2px 6px;
    box-shadow: 0 0 5px #000000;
}

.og234 img {
    margin: 4px;
    border-radius: 50%;
    padding: 3px 3px;
    border: 2px #ff0059;
    border-style: solid;
    box-shadow: 0 0 5px #000000;
    background-color: #000000;
}

.alignall {
    display: flex;
}

.tittle {
    display: flex;
}

.tittle p3 {
    color: rgb(243, 243, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: left;
    display: flex;
}

.tittle p {
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.sidetextimg img{
    width: 140px;
    height: 140px;
}
.sidetextimg{
    text-align: center;
}
.info12 {
    margin: 0;
}

.info12 a {
    text-decoration: none;
}

.info12 p { 
    background: linear-gradient(to right, #ff4e71, #ff0033);
    text-decoration: none;
    padding: 2px 4px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
    font-size: 16px;
    border-radius: 14px;
    letter-spacing: 3px;
    box-shadow: 0 0 6px #ff004c;
}

.info22 a {
    background: linear-gradient(to right, #ff5a7b, #ff0048);
    text-decoration: none;
    padding: 4px 8px;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
    font-size: 20px;
    box-shadow: 0 0 20px #ff0044;
    border-radius: 14px;
    letter-spacing: 3px;
}

.info9 a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
    font-size: 20px;
}

.info3 img {
    background: linear-gradient(to right, #ffa2a2, #ff8a8a);
    text-decoration: none;
    padding: 6px 6px;
    box-shadow: 0 0 20px #ffafaf;
    border-radius: 10px;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.col-1 h2 {
    font-size: 30px;
    color: #ff8b0f;
    font-family: 'Poppins', sans-serif;
}

.col-1 p {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 100;
}

.t22 {
    text-align: center;
    background: linear-gradient(to right, #0f0f0f, #000000);

}

p22 {
    font-size: 16px;
    font-family: 'poppins', sans-serif;

    color: #e3e3e3;
    text-align: center;

}


p2 {
    font-size: 14px;
    color: #1d1d1d;
}


p4 {
    background: linear-gradient(to right, #ff1e4f, #ff0000);
    text-decoration: none;
    padding: 2px 4px;
    color: #ffffff;
    box-shadow: 0 0 8px #cc0000;
    text-shadow: 0 0 2px #ffffff;
    font-size: 18px;
    border-radius: 12px;
    margin-left: 6px;
    letter-spacing: 2px;
}

p14 {
    color: #ff0026;
    font-size: 14px;
    letter-spacing: 2px;
    text-shadow: 0 0 1px #ff0033;
}

.select p {
    color: #000000;
    font-size: 22px;
    text-align: center;
}

p3 {
    font-size: 18px;
    color: #ffffff;
    margin: 3px;
}

p5 {
    font-size: 18px;
    color: #ffbb00;
    margin: 3px;
    text-shadow: 0 0 2px #ffa600;
}
.minecraftbnr img{
    width: 100px;
    height: 140px;
    text-align: right;
}
.product-description {
    font-size: 14px;
    color: #202020;
}
.flextext{
    display: flex;
}
.navpageimg img{
    margin-top: 4px;
    margin-right: 30px;
    margin-left: 6px;
}
.navpage2img2{
    margin-top: 4px;
    margin-left: 8px;
}
p8 {
    background: linear-gradient(to right, #fb5283, #ff3527);
    padding: 6px 6px;
    color: #ffffff;
    box-shadow: 0 0 20px #ff006f;
    text-shadow: 0 0 2px #ff0385;
    font-size: 17px;
    margin: 0px;
}


h3 {
    font-size: 22px;
    color: #0d0d0d;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}


.redh3 h3 {
    font-size: 22px;
    color: #ff003c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.h3 h3 {
    font-size: 22px;
    color: #080808;
    font-family: fantasy;
}

h4 {
    font-size: 25px;
    color: #ffbb00;
    font-family: 'poppins', sans-serif;
    text-shadow: 0 0 2px #ffaa00;
}

.img {
    margin: 0px;
    padding: 0px;
}

.txt {
    background: #090909c4;
}

.head {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(208, 208, 208);
    position: fixed;
}


html {
    scroll-behavior: smooth;
}


.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.4s;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 100%;
    position: absolute;
    background: linear-gradient(#ff9f32, #ff7b17, #ff5e00);
    left: -40px;
    top: 8px;
}

.div2 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.col-2 {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    position: relative;
}

.col-2 .controller {
    width: 90%;
}


.color-box {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    background: linear-gradient(#ff1947, #ff0d00);
    transform: translateX(150px);
}